global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - 'alertmanager:9093'

scrape_configs:
  - job_name: 'gpu-monitor'
    static_configs:
      # - targets: ['localhost:8081']

      # docker bridge IP
      # - targets: ['172.17.0.1:8081']
      - targets: ['cloudservice:8081']